@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Fredoka+One&family=PT+Sans');

/* css variables */
:root{
	--font:'Clicker Script', cursive;
	--cyan:rgb(9,218,255) !important;
	--black:#000 !important;
	--gray:#f1f1f1 !important;
	--txt:'PT Sans', sans-serif;
	--title:'Fredoka One',cursive;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	position: relative;
	overflow-x:hidden; 
}
i,button{
	cursor: pointer;
}
/*custom scroll-bar*/
::-webkit-scrollbar{
	width: 10px;
}
::-webkit-scrollbar-track{
	box-shadow: inset 0 0 5px #cfcaca;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb{
	background-image: linear-gradient(to bottom,rgba(199,3,255,1),rgba(95,3,255,1));
	border-radius: 10px;
}
.navbar{
	background-color: rgb(187,3,255);
}
.nav-brand,.nav-brand:hover{
	text-decoration:none;
	font-family:var(--font);
	color: #fff;
	text-shadow: 0px 1px 1px #000;
}
.nav-brand span{
	color: var(--cyan);
}
.nav-link{
	color: #fff;
	font-size: 18px;
	font-family: var(--title);
	text-shadow: 0px 1px 1px #000;
}
.navbar-toggler{
	border:none !important;
	outline: none !important;
	font-size: 30px !important;
}
.navbar-toggler i{
	color: #fff;
}
.nav-link,.nav-link:hover{
	color: #fff;
	font-size: 18px;
	font-family: var(--title);
	text-shadow: 0px 1px 1px #000;
}
.navbar-nav li{
	margin: 20px 0;
}

.active::after{
	content: '';
	position: absolute;
	width: 50px;
	height: 25px;
	background-image: url('../img/01.png');
	background-repeat: no-repeat;
	transform: translate(-170%,-30%);
	animation: tada 1.5s ease infinite;
}
.active::before{
	content: '';
	position: absolute;
	width: 75px;
	height: 7px;
	transform: translateY(350%);
	background-color: rgb(90,0,149);
}
#home{
	padding-top: 20px;
	background-color: rgb(95,3,255);
	background: linear-gradient(0deg,rgba(95,3,255,1)0%,rgba(199,3,255,1)100%)
}
.title{
	color:#fff;
	text-shadow:1px 2px 3px #000;
	font-family: var(--title);
}
.sub-title{
	font-family: var(--title);	
}
p{
	font-size: 20px;
	font-family: var(--txt);
}
#home.input-group-append{
	margin-left: 18px;
	z-index: 12;
	box-shadow: 1px 2px 3px #000;
}
.explore{
	border:none !important;
	outline: none !important;
	background: linear-gradient(0deg,rgba(95,3,255,1)0%,rgba(199,3,255,1) 100%);
}
.explore:focus{
	background-color: #fff;
	border-color:rgb(90,0,149)!important;
	outline: none;
	z-index: -1;
	box-shadow:0 0 0 0.2rem rgb(89,0,149,0.404)!important;
}
.form-control:focus{
	color:#495057;
	background-color: #fff;
	border-color:rgb(90,0,149)!important;
	outline: none;
	z-index: -1;
	box-shadow:0 0 0 0.2rem rgb(89,0,149,0.404)!important;
}
.social-media i{
	color: rgb(255,255,255);
	cursor: pointer;
	
}
.social-media li{
	list-style: none;
}
.social-media {
	font-size: 33px;
}
#person-img{
	width: 100%;
	height: 408px;
	background-image: url("../img/1398479.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
#person-img::after{
	content: '';
	position: absolute;
	width: 600px;
	height: 600px;
	border-radius: 100%;
	border:70px solid rgb(90,0,149);
	z-index: 0;
	transform:translate(0,-15%)!important; 
}
#person-img::before{
	content: '';
	position: absolute;
	width: 550px;
	height: 550px;
	border-radius: 100%;
	border:70px solid rgb(255,255,255);
	transform:translate(5%,-13%)!important; 
}
/*About */
#about,#features{
	padding-top: 20px;
}
.gallery-pic-1{
	border-radius: 15px !important;
	background-image: url("../img/1.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.visit{
	border:none!important;
	outline: none!important;
	background:linear-gradient(0deg,rgba(99,3,255,1)0%,rgba(199,3,255,1)100%);
}
.visit:focus{
	color:#495057;
	background-color: #fff;
	border-color:rgb(90,0,149)!important;
	outline: none;
	z-index: -1;
	box-shadow:0 0 0 0.2rem rgb(201,157,255,1)!important;
}
.galleryOne > div,.gallerySecond > div,.galleryThird > div{
	border-radius: 15px!important;
	height: 360px !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	transition: .3s;
	cursor: pointer;
}
.galleryOne > div:nth-child(1){
	background-image: url(../img/576full-hande-erçel.jpg);
}
.galleryOne > div:nth-child(2){
	background-image: url(../img/b5a69aa45d0d87d7f5f17f35e35a8e67.jpg);
}
.gallerySecond > div:nth-child(1){
	background-image: url(../img/cd3d2359ec2c8a20573f78435556e953.jpg);
}
.gallerySecond > div:nth-child(2){
	background-image: url(../img/740full-hande-erçel.jpg);
}
.gallerySecond > div:nth-child(3){
	background-image: url(../img/Hande-Ercel-Height-Age-Weight-Measurement-Wiki-Biography-Boyfriend-Net-Worth-.jpg);
}
/*Features*/
.gallery-pic-2{
	border-radius: 15px !important;
	background-image: url("../img/Hande Ercel Hot and Cute Photos-Pictures (9).jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -110px 0px;
}
.galleryThird > div:nth-child(1){
	background-image: url(../img/screen-2.jpg);
}
.galleryThird > div:nth-child(2){
	background-image: url(../img/main-qimg-f4483c4cd1a8b7cbb3b738e8db210e2c.jpg);
}

.galleryThird > div:nth-child(3){
	background-image: url(../img/original.jpg);
}
.card-deck > .card{
	height: 350px;
	cursor: pointer;
	border-radius: 15px;
	background-repeat: no-repeat;
	background-size: cover: 
}
.card-deck .bridal{
	background-position-x:10px;
	background-position-y:10px;
	background-image:url('../img/df9bfa9f2e63d17fc97c653192aba6b1.jpg');
}
.card-deck .face{
	background-image: url('../img/fa4507789676d4bd1d0e687f894cd853.jpg');
	background-position-x:-90px; 
}
.card-deck .hair-style{
	background-position-x:-220px;
	background-position-y:-180px; 
	background-image: url('../img/ed487e728b5c5955a6483d0c19cd0979.jpg');
}
.card-deck .body-massage{
	background-image: url('../img/086d8cd763eb2de4544779c3ce7e00fa.jpg');
}
#services,#contact{
	padding-top: 80px;
}
/*Contact*/
.foot-media i{
	font-size: 20px;
	
}

/*footer*/
.footer{
	margin-top: 35px;
}
.foot-title{
	font-family: var(--font);
	color: #fff;
}
.footer i,footer p{
	font-size: 20px;
	color: #cfcaca;
}
.media li i{
	font-size: 30px;

}
.media li,.foot-nav li{
	list-style: none;
	color: #cfcaca !important;
	font-size: 18px;
}
/*animation*/
@keyframes tada{
	0%{
		-webkit-transform:scale3d(1,1,1);
		transform: scale3d(1,1,1);
	}
10%,  20%{
		-webkit-transform:scale3d(.95,.95,.95)rotate3d(0,0,1,-10deg);
		transform: scale3d(.95,.95,.95) rotate3d(0,0,1,-10deg);	
}
30%,  50%,  70%,  90%{
		-webkit-transform:rotate3d(0,0,1,-10deg);
		transform: scale3d(0,0,1,-10deg);
}
100%	{
		-webkit-transform:scale3d(1,1,1);
		transform: scale3d(1,1,1);
}
}
/*media Query*/ 

/* @media only screen and(max-width:600px ){
	.navbar-nav li{
		margin: 20px 0;
}
}
@media only screen and (min-width: 600px){
	.border-left-0 p{
		font-size: 18px;
	}
	.logo{
		padding: 24px 10px;
		z-index: 100;
	}
	.custom-logo::after{
		content: '';
		position: absolute;
		top: 0;
		transform: translateX(-85%);
		padding: 0px 10px;
		height: 0px;
		width: 160px;
		animation:customizelogo .5s linear forwards 1;
		background-color: rgb(90,0,149);
		clip-path: polygon(0 0,100% 0% 94%,50% 100%,0 94%);
		z-index: -1; 
	}
}
	/*navbargination*/
	/* @keyframes customizelogo{
		font{
			height: 0px;
			padding:0px 10px; 
		}
		to{
			height: 537px;
			padding: 20px 10px;
		}
	}

	
	.collapse{
		display: block !important;
		background-image: linear-gradient(to bottom,rgba(199,3,255,1),rgba(95,3,255,1));
		position: absolute; 
		top: 79px;
		margin-left: 12px;
		padding-left: 35px;
		text-align:center;
		width: 150px;
		height: 0px;
		transition: 5s;
		z-index: 0;
		clip-path: polygon(0 0,100% 0%,100% 94%,50% 100%,0 94%);
	}
	.custom-collapse{
		height: 450px !important;
	}
}
@media only screen and(min-width:992px){
	.navbar-nav li{
		margin:0;
	}
	
}
 */	




